* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;

  line-height: 1;
  overflow-x: hidden;
  height: 100%;
}

img {
  border-style: none;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited,
a:active,
a:link {
  color: var(--white);
}

/* COLORS */
:root {
  --color-bg: #1d3557;
  --text-color: #061529;
  --light-text: #f1faee;
  --btn-start: #e63946;
  --yellow: #ffd60a;
}
