* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;

  line-height: 1;
  overflow-x: hidden;
  height: 100%;
}

img {
  border-style: none;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
}

/* COLORS */
:root {
  --text-color: #0f1419;
  --text-color-gray: #536471;
  --white: #fff;
  --line-gray: #eff3f4;
  --background-hover: #e8f5fd;
  --background-hover-dark: #1a8cd8;
  --primary-color: #1d9bf0;
  --error: #f03e3e;
  --red: #f4212e;
}
